.fixed-background {
    background-color: #ebeff1;
    bottom: 0;
    font-family: sans-serif;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}
.main-wrapper {
    margin-top: 25px;
    padding: 40px;
    position: relative;
}
#diagram-container {
    background-color: #fff;
    height: 900px;
}
.node-details {
    font-size: 17px;
    margin-top: 20px;
}
@media only screen and (min-width:768px) {
    .main-wrapper {
        margin-top: 50px;
    }
    #diagram-container,
    .node-details {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
    }
    .node-details {
        padding-left: 30px;
        margin-top: 0;
    }
}
